<div class="row evalPatientBox">
  <h1>New Evaluation</h1>
  <p>Select a patient to evaluate and the test to be performed.</p>
  <%= form_for :evaluation, url: { action: 'create'}, html: {class: 'patientsList'} do |f| %>
    <div class="row">
      <div class="small-2 columns left">
        <%= f.label "Patients", class: "right inline", for: "patients" %>
      </div>
      <div class="small-6 columns left">
        <%= f.select(:patient, [], {}, id: "patients") do %>
          <%= options_from_collection_for_select(Patient.all, :id, :full_name) %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns left">
        <%= f.label "Tests", class: "right inline", for: "tests" %>
      </div>
      <div class="small-6 columns left">
        <%= f.select(:test, [], {}, id: "tests") do %>
          <%= options_from_collection_for_select(Test.all, :id, :description) %>
        <% end %>
        <%= f.submit "Proceed", class: "small button" %>
      </div>
    </div>
  <% end %>
</div>
