<div class="row editPatientBox">
  <h1>Edit Patient Information</h1>
  <%= form_for @patient do |f| %>
    <div class="row">
      <div class="small-2 columns left">
        <%= f.label "First name", class: "right inline", for: "patient[first_name]" %>
      </div>
      <div class="small-6 columns left">
        <%= f.text_field(:first_name, id: "patient[first_name]") %>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns left">
        <%= f.label "Last name", class: "right inline", for: "patient[last_name]" %>
      </div>
      <div class="small-6 columns left">
        <%= f.text_field(:last_name, id: "patient[last_name]") %>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns left">
        <%= f.label "Gender", class: "right inline", for: "patient[gender]" %>
      </div>
      <div class="small-6 columns left">
        <%= f.select(:gender, options_for_select(["Select", "Male", "Female"], disabled: "Select", selected: 'Select'), id: "patient[gender]") %>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns left">
        <%= f.label "Birthday", class: "right inline", for: "patient[birthday]" %>
      </div>
      <div class="small-6 columns left">
        <%= f.date_field(:birthday, selected: 'Birthday', id: "patient[birthday]") %>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns left">
        <%= f.label "Email", class: "right inline", for: "patient[email]" %>
      </div>
      <div class="small-6 columns left">
        <%= f.email_field(:email, id: "patient[email]") %>
        <%= f.submit "Update", class: "small button" %>
      </div>
    </div>
  <% end %>
</div>

