<div class="box editPatientBox">
  <h1>Edit Patient Information</h1>

  <%= form_for @patient do |f| %>
    <%= f.text_field :first_name %>
    <%= f.text_field :last_name %>
    <%= f.select(:gender, options_for_select(["Gender", "Male", "Female"], disabled: "Gender", selected: 'Gender')) %>
    <%= f.text_field :birthday %>
    <%= f.text_field :weight %>
    <%= f.text_field :height %>
    <%= f.submit "Update" %>
  <% end %>

</div>
