<div class="box selectPatientBox">
  <h1>Patients</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Update information</th>
        <th>Test History</th>
      </tr>
      <% @patients.each do |patient| %>
        <tr>
          <td><%= patient.last_name + ", " + patient.first_name %></td>
          <td><%= patient.gender %></td>
          <td><%= patient.email %></td>
          <td><%= link_to "Update", edit_patient_path(patient) %></td>
          <td><%= link_to "History", evaluations_path(patient) %></td>
        </tr>
      <% end %>
    </table>
</div>
