<div class="box regPatientBox">
  <h1>Register Patient</h1>
  <p>Please complete this form.</p>

  <%= form_for :patient do |f| %>
    <%= f.text_field(:first_name, placeholder: 'First Name') %>
    <%= f.text_field(:last_name, placeholder: 'Last Name') %>
    <%= f.select(:gender, options_for_select(["Gender", "Male", "Female"], disabled: "Gender", selected: 'Gender')) %>
    <%= f.text_field(:birthday, placeholder: 'Birthday') %>
    <%= f.text_field(:weight, placeholder: 'Weight') %>
    <%= f.text_field(:height, placeholder: 'Height') %>
    <%= f.email_field(:email, placeholder: 'Email') %>
    <%= f.submit "Register" %>
  <% end %>

</div>
