<!DOCTYPE html>
<html>
<head>
  <title>RailsEtherapytrackr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <div class="wrapper">
    <body>
      <%= display_error %>
      <div id="NavBar">
        <h1>eTherapyTrackr</h1>
        <% if current_therapist %>
          <div class='loggedIn'>
            <h3>Welcome</h3>
            <div class='activities'>
              <h3><a class='regPatient' href='/patients/new'>Register a patient</a></h3>
              <h3><a class='editPatient' href='/patients'>Update a patient</a></h3>
              <h3><a class='evalPatient' href='/evaluation/new'>Evaluate a patient</a></h3>
              <h3><a class='createTest' href='/test/new'>Create a test</a></h3>
            </div>
            <div>
              <h3><a href="/logout">Logout</a></h3>
            </div>
          </div>
        <% else %>
          <div class='login'>
            <h3>Login</h3>
            <%= form_tag("/login", method: "GET") do %>
              <%= email_field('therapist', 'email', placeholder: 'Email') %>
              <%= password_field(:therapist, :password, placeholder: 'Password') %>
              <%= submit_tag("Login") %>
            <% end %>
            <h4>- or -</h4>
            <h3>Signup</h3>
            <%= form_tag("/signup", method: "POST") do %>
              <%= text_field('therapist', 'name', placeholder: 'Name') %>
              <%= text_field('therapist', 'profession', placeholder: 'Profession') %>
              <%= email_field('therapist', 'email', placeholder: 'Email') %>
              <%= password_field(:therapist, :password, placeholder: 'Password') %>
              <%= submit_tag("Signup") %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div id='Main'>
        <%= yield %>
      </div>
    </body>
  </div>
</html>
